img#randomPilt{
    border: 5px solid lightgreen;
    border-radius: 50%;
    width: 600px;
}

input[type=button]{
    border: 2px solid lightcoral;
    padding: 5px;
    background-color: lightgreen;
}

#valik {
    border: 2px solid lightcoral;
    padding: 5px;
    background-color: lightgreen;
}

div {
    border: 2px solid lightpink;
    border-radius: 5px;
    width: 600px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

#valik:hover {
    background-color: lightpink;
}

input[type=button]:hover{
    background-color: lightpink;
}