#Kirill {
    border: 1px solid black;
    width: 30%;
    height: 100px;
    text-align: center;
}

td{
    border: 1px solid black;
}
#Kirill {
    width: 10%;
    height: 10%;
    text-align: center;
}

#Kirill{
    width: 10px;
}

#A {
    background-color: lightcoral;
}

#B {
    background-color: lightblue;
}

#C {
    background-color: lightgray;
}

#F {
    background-color: lightgoldenrodyellow;
}
#G {
    background-color: lightcyan;
}

#D {
    background-color: lightseagreen;
}

#J {
    background-color: lightgreen;
}
#I {
    background-color: lightsalmon;
}
#Y {
    background-color: lightpink;
}
#BC {
    background-color: lightslategrey;
}
#E {
    background-color: lightskyblue;
}
#K {
    background-color: lightcyan;
}
 #uks {
     background-color: darkolivegreen;
 }
 #kaks {
     background-color: floralwhite;
 }